page-welcome {
    #welcome{
    background: #f2b632;
        h1{
            font-size: 32px;
            margin-top: 50px;
        }
        .marginTop{
            margin-top: 30px;
        }
        .redBg{
            background: red;
        }
    }
}
